body{
    background-color:white;
    margin: 0;
    padding: 0;
}
header{
    background-color: purple;
    color: white;
    padding: 10px 20px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box{
    display: flex;
    align-items: center;
}
.search-box input[type = "text"]{
    padding: 5px;
    border: none;
    border-radius: 3px;
}
.search-box button {
    padding: 5px 10px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
}
.corpo{
    display: flex;
    justify-content: space-between; 
    gap: 30px;
    color: rgb(0, 0, 0);
    padding: 30px;
}
.box1{
    height: 400px;
    width: 15%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
    background-image: url("../images/teste.jpg");
}
.box2{
    background-color: brown;
    height: 400px;
    width: 15%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
   background-image: url("../images/teste.jpg");
}
.box3{
    background-color: brown;
    height: 400px;
    width: 15%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
   background-image: url("../images/teste.jpg");
}
.box4{
    background-color: brown;
    height: 400px;
    width: 15%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
   background-image: url("../images/teste.jpg");
}
.box1:hover{
    transition: 0.2s;
    box-shadow: 1px 1px 20px black;
    
}
.box2:hover{
    transition: 0.2s;
    box-shadow: 1px 1px 20px black;
}
.box3:hover{
    transition: 0.2s;
    box-shadow: 1px 1px 20px black;
}
.box4:hover{
    transition: 0.2s;
    box-shadow: 1px 1px 20px black;
}
#pizza-catalogo{
    background-color: black;
    margin-top: 350px;
    width: 30%;
    text-align: center;
    margin-left: 100px;
    font-size: 20px;
    color: aliceblue;   
}
#bebidas{
    background-color: black;
    margin-top: 350px;
    width: 35%;
    text-align: center;
    margin-left: 100px;
    font-size: 20px;
    color: aliceblue;   
}
#sobremesas{
    background-color: black;
    margin-top: 350px;
    width: 50%;
    text-align: center;
    margin-left: 80px;
    font-size: 20px;
    color: aliceblue;   
}
#bebidas{
    background-color: black;
    margin-top: 350px;
    width: 35%;
    text-align: center;
    margin-left: 100px;
    font-size: 20px;
    color: aliceblue;   
}
#lanches{
    background-color: black;
    margin-top: 350px;
    width: 35%;
    text-align: center;
    margin-left: 100px;
    font-size: 20px;
    color: aliceblue;   
}
.carrinho{
    background-color: purple;
    width: 20%;
    height: auto;
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carrinho h2{
    margin-top: 0;
    margin-bottom: 20px;
}
.carrinho .item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.carrinho .item .item-name{
    flex: 1;
}
.carrinho .item .item-price{
    margin-left: 10px;
}
.carrinho .total{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
}
.carrinho button{
    padding: 10px;
    border: none;
    background-color: white;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}
.options{
    display: flex;
    justify-content: space-between; 
    gap: 30px;
    color: rgb(0, 0, 0);
    padding: 30px;
}
.option1{
    background-color: brown;
    height: 400px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
    background-image: url("../images/teste.jpg");
}
.option2{
    background-color: brown;
    height: 400px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
    background-image: url("../images/teste.jpg");
}
.option3{
    background-color: brown;
    height: 400px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
    background-image: url("../images/teste.jpg");
}
.option4{
    background-color: brown;
    height: 400px;
    width: 25%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px  black;
    background-size: cover;
    background-image: url("../images/teste.jpg");
}
footer{
    border-top: solid #000 1px;
    width: 100%;
    height: 100px;
    margin: auto;
    bottom: 0;
}